
.start-help {
    top: 30px;
}
.cards-container {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 !important;
}
.cards-container img {
    cursor: pointer;
}

.highlight {
    -webkit-box-shadow: 0px 0px 5px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px 15px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px 15px rgba(0, 0, 0, 0.75);
    position: relative;
}
#showDraftControls {
    display: none;
}
.draftControls {
    margin: 60px 0;
}
.draftControls label {
    display: block;
}
#loadDraftControls input[type='text'] {
    width: 800px;
}
.nav>li.draft-control {
    display: none;
}
.draft-control .dropdown-menu a {
    cursor: pointer;
}
.draft-control {
    display: none;
}
.player-seen-only {
    margin-top: 2px;
}
.help-tutorial {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 800px;
}
.help-section {
    width: 800px;
}