<script data-template-name="draft/view" type="text/x-handlebars">
    <h1>{{name}}</h1>
    {{#each booster in boosters}}
        {{#if booster.packNumber}}
            <div class="pack-title">
                Pack #{{booster.packNumber}}
            </div>
        {{/if}}
        <div class="booster-container">
            <div class="booster-title">
                Booster #{{booster.number}}
            </div>
            {{#each card in booster.picks}}
                <div style="display:inline-block">
                    <img class="card" {{bind-attr src="card.src" title="card.title"}}  data-toggle='tooltip'/>
                </div>
            {{/each}}
        </div>
    {{/each}}
</script>